{% extends "layouts/base.html" %} {%load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Page Content  -->
{% block content %} {%for message in messages%} {{message}} {%endfor%}
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }} <span class="text-danger">*</span></div>
    {% endif %}

    <div class="row mb-4">

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="fms_action_type">{{ form.fms_action_type.label }} <span class="text-danger">*</span></label>
                {{form.fms_action_type}}
                {% if form.fms_action_type.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.fms_action_type.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="fms_status_code">{{form.fms_status_code.label}} <span class="text-danger">*</span></label>
                {{form.fms_status_code}}
                {% if form.fms_status_code.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.fms_status_code.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="fms_status_name">{{ form.fms_status_name.label }} <span class="text-danger">*</span></label>
                {{form.fms_status_name}}
                {% if form.fms_status_name.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.fms_status_name.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="parent_id">{{ form.parent_id.label }} <span class="text-danger">*</span></label>
                {{form.parent_id}}
                {% if form.parent_id.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.parent_id.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="serial_no">{{ form.serial_no.label }} <span class="text-danger">*</span></label>
                {{form.serial_no}}
                {% if form.serial_no.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.serial_no.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="is_active"> {{ form.is_active.label }} <span class="text-danger">*</span></label>
                {{form.is_active}}
                {% if form.is_active.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.is_active.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="mb-4">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a class="btn btn-sm btn-gray-200" href="{%url 'fms_status_list'%}">Cancel</a>
    </div>
</form>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/form-error.js'%}"></script>
{% endblock javascripts %}