{% extends "layouts/base.html" %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="row mb-4">
  <form method="get">
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="role">Role <span class="text-danger">*</span></label>
        <select name="role_id" class="form-select" onchange="this.form.submit()">
          <option value="">--- Select a Role ---</option>
          {% for role in form.fields.role.queryset %}
          <option value="{{ role.id }}" {% if selected_role and selected_role.id == role.id %}selected{% endif %}>
            {{ role.role_name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>

<form method="post">
  {% csrf_token %}
  <div class="row mb-4">
    <div class="col-12">
      <div class="border-0 shadow table-wrapper table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Menu</th>
              {% for permission_type in permission_types %}
              <th>{{ permission_type.name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <!-- Loop through each parent menu -->
            {% for parent_menu in parent_menus %}
            <tr>
              <td  >
                <input type="checkbox" class="form-check-input parent-master" id="parent_{{ parent_menu.id }}" />
                <label for="parent_{{ parent_menu.id }}"><strong>{{ parent_menu.title }}</strong></label>
              </td>
              {% for permission_type in permission_types %}
              <td>
                {% with parent_menu_id=parent_menu.id|stringformat:"s" permission_id=permission_type.id|stringformat:"s" %}
                {% with field_name=parent_menu_id|add:"_"|add:permission_id %}
                {{ form|get_field:field_name|add_class:'form-check-input parent-child' }}
                {% endwith %}
                {% endwith %}
              </td>
              {% endfor %}
            </tr>

            <!-- Loop through child menus under each parent -->
            {% for child_menu in parent_menu.children.all %}
            <tr>
              <td style="padding-left: 50px;">
                <input type="checkbox" class="form-check-input child-master" id="child_{{ child_menu.id }}" />
                <label for="child_{{ child_menu.id }}" >- {{ child_menu.title }}</label>
              </td>
              {% for permission_type in permission_types %}
              <td>
                {% with child_menu_id=child_menu.id|stringformat:"s" permission_id=permission_type.id|stringformat:"s" %}
                {% with field_name=child_menu_id|add:"_"|add:permission_id %}
                {{ form|get_field:field_name|add_class:'form-check-input child-child' }}
                {% endwith %}
                {% endwith %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <input type="hidden" name="role" value="{{ selected_role.id }}">
    <button class="btn btn-sm btn-primary" type="submit">Save</button>
    <a class="btn btn-sm btn-gray-200" href="{% url 'permission_type_list' %}">Cancel</a>
  </div>
</form>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'assets/js/form-error.js' %}"></script>
<script>
  $(document).ready(function() {
    $('.parent-master').click(function() {
      var parentRow = $(this).closest('tr');
      var isChecked = $(this).prop('checked');
      parentRow.find('.parent-child').prop('checked', isChecked);
    });

    $('.child-master').click(function() {
      var childRow = $(this).closest('tr');
      var isChecked = $(this).prop('checked');
      childRow.find('.child-child').prop('checked', isChecked); 
    });

    $('.parent-master').each(function() {
      var parentRow = $(this).closest('tr');
      var allChecked = parentRow.find('.parent-child:checked').length == parentRow.find('.parent-child').length;
      $(this).prop('checked', allChecked); 
    });

    $('.child-master').each(function() {
      var childRow = $(this).closest('tr');
      var allChecked = childRow.find('.child-child:checked').length == childRow.find('.child-child').length;
      $(this).prop('checked', allChecked); 
    });
  });
</script>
{% endblock javascripts %}
