{% extends "layouts/base.html" %} {%load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Page Content  -->
{% block content %} {%for message in messages%} {{message}} {%endfor%}
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="row mb-4">

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="product_name">product_name</label>
                {{form.product_name}}
                {% if form.product_name.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.product_name.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="serial_no">Product Code.</label>
                {{form.product_code}}
                {% if form.product_code.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.product_code.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="mb-4 mt-4">
                <label for="description">description</label>
                {{form.description}}
                {% if form.description.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.description.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label class="my-1 me-2" for="serial_status">serial_status</label>
                {{form.serial_status}}
            </div>
        </div>


        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label class="my-1 me-2" for="serial_status">group</label>
                {{form.group}}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label class="my-1 me-2" for="warranty">warranty</label>
                {{form.warranty}}
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for="volumetric_weight">volumetric_weight</label>
                {{form.volumetric_weight}}
                {% if form.volumetric_weight.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.volumetric_weight.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for="weight_kg ">weight_kg </label>
                {{form.weight_kg }}
                {% if form.weight_kg.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.weight_kg.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for="moq">moq</label>
                {{form.moq}}
                {% if form.moq.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.moq.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="mb-4">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a class="btn btn-sm btn-gray-200" href="{%url 'product_bin_list'%}">Cancle</a>
    </div>
</form>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/form-error.js'%}"></script>
{% endblock javascripts %}