{% extends "layouts/base.html" %} {%load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Page Content  -->
{% block content %} {%for message in messages%} {{message}} {%endfor%}
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="row mb-4">

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="{{ form.holiday_date.id_for_label }}">{{form.holiday_date.label}} <span class="text-danger">*</span></label>
                {{form.holiday_date}}
                {% if form.holiday_date.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.holiday_date.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4">
                <label for="{{ form.holiday_name.id_for_label }}">{{form.to_date.label }}<span class="text-danger"> *</span></label>
                {{form.to_date}}
                {% if form.to_date.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.to_date.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="mb-4">
                <label for="{{ form.holiday_type.id_for_label }}">{{form.holiday_type.label}} <span class="text-danger">*</span></label>
                {{form.holiday_type}}
                {% if form.holiday_type.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.holiday_type.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-12 col-sm-6">
            <div class="mb-4">
                <label class="my-1 me-2" for="{{ form.holiday_name.id_for_label }}">{{form.holiday_name.label}} <span class="text-danger">*</span></label>
                {{form.holiday_name}}
                {% if form.holiday_name.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.holiday_name.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>


        <div class="col-lg-12 col-sm-6">
            <div class="mb-4">
                <label class="my-1 me-2" for="holiday_name">HolidayFor <span class="text-danger">*</span></label>
                {{form.holiday_in_area}}
            </div>
        </div>


    </div>
    <div class="mb-4">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a class="btn btn-sm btn-gray-200" href="{%url 'product_list'%}">Cancel</a>
    </div>
</form>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/form-error.js'%}"></script>
{% endblock javascripts %}