{%load static%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>CMS</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="title" content="page" />
<meta property="og:title" content="page" />

<!-- Sweet Alert -->
<link
  type="text/css"
  href="{%static 'assets/vendor/sweetalert2/dist/sweetalert2.min.css'%}"
  rel="stylesheet"
/>

<!-- Notyf -->
<link
  type="text/css"
  href="{%static 'assets/vendor/notyf/notyf.min.css'%}"
  rel="stylesheet"
/>

<!-- Volt CSS -->
<link
  type="text/css"
  href="{%static 'assets/css/volt.css'%}"
  rel="stylesheet"
/>

<!-- Specific Page JS goes HERE  -->

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

<!-- CSS -->
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>

{% block stylesheets %}{% endblock stylesheets %}
