{% extends "layouts/base.html" %} {%load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Page Content  -->
{% block content %} {%for message in messages%} {{message}} {%endfor%}

<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="row mb-4">

        <div class="col-lg-6 col-sm-6">
            <div class="mb-4">
                <label for="link_type">{{form.link_type.label}} <span class="text-danger">*</span></label>
                {{form.link_type}}
                {% if form.link_type.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.link_type.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="mb-4">
                <label for="link_title">{{form.link_title.label }}<span class="text-danger">*</span></label>
                {{form.link_title}}
                {% if form.link_title.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.link_title.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="mb-4 mt-4">
                <label for="link_value">{{form.link_value.label}}</label>
                {{form.link_value}}
                {% if form.link_value.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.link_value.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for="start_date">{{form.start_date.label}}</label>
                {{form.start_date}}
                {% if form.start_date.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.start_date.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for=" end_date">{{form.end_date.label}}</label>
                {{form.end_date}}
                {% if form.end_date.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.end_date.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>
  
        <div class="col-lg-4 col-sm-6">
            <div class="mb-4 mt-4">
                <label for="is_active">{{form.is_active.label }}<span class="text-danger">*</span></label>
                {{form.is_active}}
                {% if form.is_active.errors %}
                <div class="invalid-feedback" style="display: block !important">
                    {{ form.is_active.errors.as_text }}
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="mb-4">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a class="btn btn-sm btn-gray-200" href="{%url 'product_list'%}">Cancel</a>
    </div>
</form>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/form-error.js'%}"></script>
{% endblock javascripts %}