{% extends "layouts/base.html" %} {%load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Page Content  -->
{% block content %} {%for message in messages%} {{message}} {%endfor%}
<form method="post">
  {% csrf_token %} {% if form.non_field_errors %}
  <div class="alert alert-danger">{{ form.non_field_errors }}</div>
  {% endif %}

  <div class="row mb-4">
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="roles">Roles <span class="text-danger">*</span></label>
        {{form.roles}} {% if form.roles.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.roles.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="first_name"
          >First Name <span class="text-danger">*</span></label
        >
        {{form.first_name}} {% if form.first_name.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.first_name.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="last_name"
          >Last Name <span class="text-danger">*</span></label
        >
        {{form.last_name}} {% if form.last_name.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.last_name.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="username"
          >Username <span class="text-danger">*</span></label
        >
        {{form.username}} {% if form.username.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.username.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="email">Email <span class="text-danger">*</span></label>
        {{form.email}} {% if form.email.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.email.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <label for="password"
          >Password {%if not is_update%}<span class="text-danger">*</span>
          {%endif%}</label
        >
        {{form.password}} {% if form.password.errors %}
        <div class="invalid-feedback" style="display: block !important">
          {{ form.password.errors.as_text }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="mb-4">
        <div class="form-check">
          <label class="form-check-label" for="publish"> Publish </label>
          {{form.is_active}}
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <button class="btn btn-sm btn-primary" type="submit">Save</button>
    <a class="btn btn-sm btn-gray-200" href="{%url 'user_list'%}">Cancle</a>
  </div>
</form>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/form-error.js'%}"></script>
{% endblock javascripts %}
